<!DOCTYPE html>
<html>
<head>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <meta charset="utf-8">
    <title>國立暨南國際大學資管系獎學金申請表</title>
</head>
<body>
    <h1 align="center">國立暨南國際大學資管系獎學金申請表</h1>
    <form id="scholarshipForm" method="post" enctype="multipart/form-data">
        <fieldset>
            <div>
                <label>申請日期：</label>
                <input type="date" id="application_date" name="application_date" required>
            </div>
            <div>
                <label>申請學生：</label>
                <input type="text" id="student_name" name="student_name" required>
            </div>
            <div>
                <label>學號：</label>
                <input type="text" id="student_number" name="student_number" required>
            </div>
            <div>
                <label for="department_and_grade">系所別（年級）：</label>
                <select id="department_and_grade" name="department_and_grade" required>
                    <option value="">請選擇年級</option>
                    <% ['大一', '大二', '大三', '大四', '碩一', '碩二', '碩三', '碩四'].forEach(function(grade) { %>
                        <option value="<%= grade %>"><%= grade %></option>
                    <% }); %>
                </select>
            </div>
            <div>
                <label for="advisor_name">導師：</label>
                <select id="advisor_name" name="advisor_name" required>
                    <option value="">請選擇導師</option>
                    <% ['姜美玲', '戴榮賦', '陳彥錚', '黃俊哲', '白炳豐', '簡宏宇', '游子宜', '余菁蓉', '王育民', '洪嘉良', '陳小芬', '陳建宏', '鄭育評'].forEach(function(advisor) { %>
                        <option value="<%= advisor %>"><%= advisor %></option>
                    <% }); %>
                </select>
            </div>
            <br>
            <hr>
            <h2>申請項目及說明</h2>
            <div>
                <input type="checkbox" id="competitionAward" name="applicationItem" value="competitionAward">
                <label for="competitionAward">參加校內、外（含國內、國際性）資管領域相關專業或學術性重要比賽得獎者</label>
            </div>
            <div>
                <input type="checkbox" id="internationalConference" name="applicationItem" value="internationalConference">
                <label for="internationalConference">參加國際性學術研討會或國際性會議並以外文發表論文者（不含摘要及海報論文）</label>
            </div>
            <blockquote>
                <div>
                    <input type="checkbox" id="internalSupportApplied" name="supportApplied" value="internalSupportApplied">
                    <label for="internalSupportApplied">已向校內申請補助，申請單位：</label>
                    <input type="text" id="internalSupportUnit" name="internalSupportUnit">
                    <label>已獲補助額度：NT$</label>
                    <input type="number" id="internalSupportAmount" name="internalSupportAmount">
                </div>
                <div>
                    <input type="checkbox" id="externalSupportApplied" name="supportApplied" value="externalSupportApplied">
                    <label for="externalSupportApplied">已向校外申請補助，申請單位：</label>
                    <input type="text" id="externalSupportUnit" name="externalSupportUnit">
                    <label>已獲補助額度：NT$</label>
                    <input type="number" id="externalSupportAmount" name="externalSupportAmount">
                </div>
                <div>
                    <input type="checkbox" id="internalSupportAppliedNotGranted" name="supportApplied" value="internalSupportAppliedNotGranted">
                    <label for="internalSupportAppliedNotGranted">已向校內申請補助，申請單位：</label>
                    <input type="text" id="internalSupportUnitNotGranted" name="internalSupportUnitNotGranted">
                    <label>但未獲補助（若勾選此，請檢附未獲補助證明）</label>
                </div>
                <div>
                    <input type="checkbox" id="externalSupportAppliedNotGranted" name="supportApplied" value="externalSupportAppliedNotGranted">
                    <label for="externalSupportAppliedNotGranted">已向校外申請補助，申請單位：</label>
                    <input type="text" id="externalSupportUnitNotGranted" name="externalSupportUnitNotGranted">
                    <label>但未獲補助（若勾選此，請檢附未獲補助證明）</label>
                </div>
                <div>
                    <input type="checkbox" id="noSupportApplied" name="supportApplied" value="noSupportApplied">
                    <label for="noSupportApplied">未向校內外單位申請補助</label>
                </div>
            </blockquote>
            <div>
                <input type="checkbox" id="promoteDepartment" name="applicationItem" value="promoteDepartment">
                <label for="promoteDepartment">促進本系招生、聲譽提升、協助教學或行政工作等有具體事蹟者</label>
            </div>
            <div>
                <input type="checkbox" id="masterThesisInEnglish" name="applicationItem" value="masterThesisInEnglish">
                <label for="masterThesisInEnglish">碩士畢業生學位口試以英文發表者</label>
            </div>
            <div>
                <input type="checkbox" id="bestPaperAward" name="applicationItem" value="bestPaperAward">
                <label for="bestPaperAward">參加資管領域相關學術研討會並榮獲最佳論文獎</label>
            </div>
            <div>
                <input type="checkbox" id="nationalScienceCouncilAward" name="applicationItem" value="nationalScienceCouncilAward">
                <label for="nationalScienceCouncilAward">獲得「國科會大專學生研究計畫獎勵」者</label>
            </div>
            <div>
                <input type="checkbox" id="internationalExchangeStudent" name="applicationItem" value="internationalExchangeStudent">
                <label for="internationalExchangeStudent">學生申請國際交換生</label>
            </div>
            <blockquote>
                <div>
                    <input type="checkbox" id="internalSupportApplied" name="supportApplied" value="internalSupportApplied">
                    <label for="internalSupportApplied">已向校內申請補助，申請單位：</label>
                    <input type="text" id="internalSupportUnit" name="internalSupportUnit">
                    <label>已獲補助額度：NT$</label>
                    <input type="number" id="internalSupportAmount" name="internalSupportAmount">
                </div>
                <div>
                    <input type="checkbox" id="externalSupportApplied" name="supportApplied" value="externalSupportApplied">
                    <label for="externalSupportApplied">已向校外申請補助，申請單位：</label>
                    <input type="text" id="externalSupportUnit" name="externalSupportUnit">
                    <label>已獲補助額度：NT$</label>
                    <input type="number" id="externalSupportAmount" name="externalSupportAmount">
                </div>
                <div>
                    <input type="checkbox" id="internalSupportAppliedNotGranted" name="supportApplied" value="internalSupportAppliedNotGranted">
                    <label for="internalSupportAppliedNotGranted">已向校內申請補助，申請單位：</label>
                    <input type="text" id="internalSupportUnitNotGranted" name="internalSupportUnitNotGranted">
                    <label>但未獲補助（若勾選此，請檢附未獲補助證明）</label>
                </div>
                <div>
                    <input type="checkbox" id="externalSupportAppliedNotGranted" name="supportApplied" value="externalSupportAppliedNotGranted">
                    <label for="externalSupportAppliedNotGranted">已向校外申請補助，申請單位：</label>
                    <input type="text" id="externalSupportUnitNotGranted" name="externalSupportUnitNotGranted">
                    <label>但未獲補助（若勾選此，請檢附未獲補助證明）</label>
                </div>
                <div>
                    <input type="checkbox" id="noSupportApplied" name="supportApplied" value="noSupportApplied">
                    <label for="noSupportApplied">未向校內外單位申請補助</label>
                </div>
            </blockquote>
            <div>
                <input type="checkbox" id="promoteInternationalVisibility" name="applicationItem" value="promoteInternationalVisibility">
                <label for="promoteInternationalVisibility">其他具體可促進本系國際化或提昇國際能見度之具體事證</label>
            </div>
            <div>
                <label for="applicationContent">申請內容：</label>
                <textarea id="applicationContent" name="applicationContent" rows="4" cols="50"></textarea>
            </div>
            <div>
                <label for="documentUpload">申請文件上傳：</label>
                <input type="file" id="documentUpload" name="documentUpload">
            </div>
            <br>
            <hr>
            <div>
                <label>學生簽名：</label>
                <input type="text" id="studentSignature" name="studentSignature" required>
            </div>
            <div>
                <label>導師簽名：</label>
                <input type="text" id="advisorSignature" name="advisorSignature" required>
            </div>
            <br>
            <input type="submit" value="提交申請">
        </fieldset>
    </form>
</body>
</html>
