<!DOCTYPE html>
<html>
	<!-- <link href="/css/??.css" rel="stylesheet"> -->
	<head>
		<title>國立暨南國際大學資管系獎學金申請表</title>
	</head>
	<body>
        <h1 align="center">國立暨南國際大學資管系獎學金申請表</h1>
        <fieldset>

			<div id="student">
                <div>
                    <label>學生姓名：</label>
                    <input type="text" id="student_name" name="student_name" required>
                </div>
                <div>
                    <label>學號：</label>
                    <input type="text" id="student_id" name="student_id" required>
                </div>
                <div>
                    <label for="department_and_grade">系所別（年級）：</label>
                    <select id="department_and_grade" name="department_and_grade" required>
                        <option value="">請選擇年級</option>
                        <option value="大一">大一</option>
                        <option value="大二">大二</option>
                        <option value="大三">大三</option>
                        <option value="大四">大四</option>
                        <option value="碩一">碩一</option>
                        <option value="碩二">碩二</option>
                        <option value="碩三">碩三</option>
                        <option value="碩四">碩四</option>
                    </select>
                </div>
                <div>
                    <label for="advisor_name">導師：</label>
                    <select id="advisor_name" name="advisor_name" required>
                        <option value="">請選擇導師</option>
                        <option value="姜美玲">姜美玲</option>
                        <option value="戴榮賦">戴榮賦</option>
                        <option value="陳彥錚">陳彥錚</option>
                        <option value="黃俊哲">黃俊哲</option>
                        <option value="白炳豐">白炳豐</option>
                        <option value="簡宏宇">簡宏宇</option>
                        <option value="游子宜">游子宜</option>
                        <option value="余菁蓉">余菁蓉</option>
                        <option value="王育民">王育民</option>
                        <option value="洪嘉良">洪嘉良</option>
                        <option value="陳小芬">陳小芬</option>
                        <option value="陳建宏">陳建宏</option>
                        <option value="鄭育評">鄭育評</option>
                    </select>
                </div>
            </div>
			<br>
			<hr>
			<h2>申請項目及說明</h2>
        <table id="info_item" border="1">
            <tr>
                <td>是否申請</td>
                <td>項目內容</td>
            </tr>
        </table>
        <button onclick="sendApplyData()">送出申請</button>
	</body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
	<script src = "/js/main.js"></script>
</html>