<!DOCTYPE html>
<html>
	<!-- <link href="/css/??.css" rel="stylesheet"> -->
	<head>
		<title>國立暨南國際大學資管系獎學金申請表</title>
	</head>
	<body>
        <h1 align="center">國立暨南國際大學資管系獎學金申請表</h1>
        <fieldset>

			<div id="student">
                <div>
                    <label>學生姓名：<span id = "student_name"></span></label>
                </div>
                <div>
                    <label>學號：<span id = "student_id"></span></label>
                </div>
                <div>
                    <label for="department_and_grade">系所別（年級）：</label>
                    <select id="department_and_grade" name="department_and_grade" required>
                        <option value="">請選擇年級</option>
                        <option value="大一">大一</option>
                        <option value="大二">大二</option>
                        <option value="大三">大三</option>
                        <option value="大四">大四</option>
                        <option value="碩一">碩一</option>
                        <option value="碩二">碩二</option>
                        <option value="碩三">碩三</option>
                        <option value="碩四">碩四</option>
                    </select>
                </div>
                <div>
                    <label for="advisor_name">導師：</label>
                    <select id="advisor_name" name="advisor_name" required>
                        <option value="">請選擇導師</option>
                        <option value="1">姜美玲</option>
                        <option value="2">戴榮賦</option>
                        <option value="3">陳彥錚</option>
                        <option value="4">黃俊哲</option>
                        <option value="5">白炳豐</option>
                        <option value="6">簡宏宇</option>
                        <option value="7">游子宜</option>
                        <option value="8">余菁蓉</option>
                        <option value="9">王育民</option>
                        <option value="10">洪嘉良</option>
                        <option value="11">陳小芬</option>
                        <option value="12">陳建宏</option>
                        <option value="13">鄭育評</option>
                    </select>
                </div>
            </div>
			<br>
			<hr>
			<h2>申請項目及說明</h2>
        <form id="info_item" border="1">
                
            <div>
                
            </div>    
        </form>
        
        
        </fieldset>
        <p>
            說明：<br>
            一、依據「國立暨南國際大學資訊管理學系獎助學金作業要點」辦理。<br>
            二、申辦流程：由學生詳填本申請書並檢附相關證明文件，逕送系辦審查資料是否齊全，提交學生事務委員會審核後，由系辦通知申請學生核定結果（獎學金將逕行撥入申請學生帳戶）。<br>
            三、獲得本系獎助學金補助者須提供申請事項之詳細資訊，供系上公告與相關宣傳使用。若後續有召開分享會等相關需要，獲補助者需配合辦理。

        </p>
        <button onclick="sendApplyData()">送出申請</button>
	</body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
	<script src = "/js/main.js"></script>
</html>